<router-outlet />

<div>
  <h1>Angular + Electron</h1>
  <button (click)="sendMessage()">Send Message to Electron</button>
  <p>{{ messageFromElectron }}</p>
</div>

<div class="file-operations">
  <h1>File Operations with Electron</h1>
  <button (click)="openFile()">Open File</button>
  <button (click)="saveFile()">Save File</button>

  <textarea [(ngModel)]="selectedFileContent" rows="10" cols="50"></textarea>

  <div>
    <label for="newFilePath">Enter a name for your new file (with extension, e.g., newFile.txt):</label>
    <input id="newFilePath" type="text" [(ngModel)]="newFilePath" placeholder="File Path" />
    <button (click)="createNewFile()">Create New File</button>
  </div>
</div>
